aws-lambda-layer-base/java.zip
aws-lambda-layer-base/.project
aws-lambda-layer-base/.classpath
aws-lambda-layer-base/target
aws-lambda-layer-base/.settings
wfdm-file-index-service/target
wfdm-file-index-service/.settings
