aws-lambda-layer-base/.project
aws-lambda-layer-base/.classpath
aws-lambda-layer-base/target
aws-lambda-layer-base/.settings
wfdm-file-index-service/target/*/
wfdm-file-index-service/.settings
wfdm-file-index-service/.settings
wfdm-clamav-service/wfdm-clamav-scan-handler/target/*/
wfdm-file-index-initializer/target/*/
wfdm-clamav-service/wfdm-clamav-scan-handler/target/
wfdm-file-index-initializer/target/
wfdm-file-index-service/target/
main_work.tf
main_work
/.terraform
.terraform
.terraform.lock.hcl
/cdk.out/*/
# IntelliJ
.idea
*.iml
# aws
.aws-sam
# vs code
.vscode
wfdm-clamav-service/node_modules
